#modal{
	z-index: 3;
	background-color: rgba(0,0,0, .3);
	display: none;
	width: 70vw;
	height: 80vw;
}

.content{
	width: 50vw;
	margin-left: 25vw;
	height: 30vw;
	margin-top: 35vw;
	display: none;
}