.header{
	color: green;
}

.para{
	background-color: black;
	color: pink;
	font-size: 120%;
	line-height: 30px;
}



body{
	margin-left: 250px;
	width: 1000px;
	font-family: Georgia, Times, "Times New Roman", serif;
	background-color: black;
}
br{
	line-height: 50%;
}
figure{
	float: right;
	width: 450px;
}