body.modal-on{
	overflow:hidden;
}

body.modal-on .modal_wrapper{
	display:block;
}

body{
	overflow-x: hidden;
}

.modal_wrapper{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.75);
	top:0;
	left: 0;
	display:none;
}

.modal{
	position: relative;
	top: 30vh;
	margin: 0 auto;
	width: 40vw;
	padding: 15px;
	background-color: pink;
	border-radius: 30px;
	height: 40vh;
	overflow-y: hidden;
}

.modal a{
	text-decoration: none;
}

.left {
	float: left;
}

.modal:hover{
	background-color: red;
	width: 50vw;
	height: 60vh;
	margin-top: -10vh;
	margin-left: 25vw;
}

.modal{
	transition: margin-left 5s, margin-top 5s, background-color 5s linear, width 5s, height 5s; 
}

button{
	position: absolute;
	top: 10px ;
	right: 10px;
}