.headline{
	color: #006400;
}


.sub, .headline{
	font-family: Georgia, Times, "Times New Roman", serif;
	text-align: center;
}

.author{
	text-align: center;
} 

.normal.picture{
	float: left;
	margin-left: 350px;
	margin-right: 10px;
}

.normal{
	margin-right: 350px;
	line-height: 19px;
}

.other{
	text-transform: uppercase;
}

ol{
	margin-left: 50px;
}