.content {
	width: 60vw;
	height: 700px;
	margin-left: 20vw;
}

.content h1 {
	font-size:500%;
	color:#66A1FB;
	display:none;
}

.content p{
	font-size: 180%;
	color: white;
	display: none;
}

.content:hover p{
	display: inline-block;
}

.content.one:hover {
	background-color: rgba(0,0,0, 0.75);
}

.content.two:hover{
	background-color: rgba(0,0,0, 0.75);	
}

.content.three:hover{
	background-color: rgba(0,0,0, 0.75);	
}

.content:hover h1 {
	display:inline;
}