nav li{
	text-align: center;
	border: 1px solid black;
	display: inline-block;
	padding: 4px;
	margin: 0px;
	line-height: 40px;
	font-size: 24px;
	background-color: rgb(61, 0, 153);
}

ul{
	padding: 0px;
	text-align: center;
	margin-bottom: 0px ;
	margin-top: 0px;
}

nav{
	position: fixed;
	top: 25px;
	left: 300px;
}

li:hover{
		background-color: white;
}

a:hover{
	text-decoration: none;
	color: rgb(61, 0, 153);
    cursor:pointer;
}

a:link, a:visited{
	text-decoration: none;
	color: rgb(255, 30, 100);
}