main{
	background-color: rgba(255, 30, 100, .3);
	min-height: 100px;
	text-align: center;
	padding: 10px;
	margin-left: 250px;
}	

.box{
	width: 250px;
	height: 250px;
	display:inline-block;
	border: 2px dashed rgba(255, 30, 100, .8);
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 3px;
}

p{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	padding-top:23%;
}

.box .imgs{
	max-height: 180px;
	max-width: 180px;
}