.header{
	color: green;
	margin-left: 250px;
	width: 1000px;
}

#para{
	background-color: black;
	color: pink;
	font-size: 120%;
	line-height: 25px;
	margin-left: 250px;
	width: 1000px;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.quote{
	margin-left: 50px;
	width: 900px;
}

br{
	line-height: 50%;
}
figure{
	float: right;
	width: 450px;
	color: white;
	font-size: 80%;
	line-height: 15px;
}